<div id="form-area" *transloco="let t">
  <h1>{{ t("clients.add_client") }}</h1>
  <form id="idea-form" [formGroup]="clientFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ t("clients.table.name") }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </form>
  <div id="button-area">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!clientFormGroup.valid"
      (click)="onSubmit()"
    >
      {{ t("common.save") }}
    </button>
    <button mat-raised-button color="accent" (click)="onCancelClick()">
      {{ t("common.cancel") }}
    </button>
  </div>
</div>
