<div id="form-area">
  <h1>Add Idea</h1>
  <form id="idea-form" [formGroup]="ideaFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
  <div id="button-area">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!ideaFormGroup.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button mat-raised-button color="accent" (click)="onCancelClick()">
      Cancel
    </button>
  </div>
</div>
