<ng-container *transloco="let t; read: 'pitches'">
  <h1>{{ t("title") }}</h1>
  <div class="action-list">
    <app-pitches-action-menu></app-pitches-action-menu>
  </div>
  <ng-container *ngIf="loading$ | async; else idealist">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
  <ng-template #idealist>
    <app-pitch-list
      [pitches]="pitches$ | async"
      [showClient]="true"
      [showIdea]="true"
    ></app-pitch-list>
  </ng-template>
</ng-container>
