<div id="form-area" *transloco="let t">
  <h1>{{ t("pitches.add_pitch") }}</h1>
  <form id="pitch-form" [formGroup]="pitchFormGroup">
    <mat-form-field class="field">
      <mat-label>{{ t("pitches.form.client") }}</mat-label>
      <app-client-selector
        matInput
        formControlName="client"
      ></app-client-selector>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>{{ t("pitches.form.title") }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <editor
      formControlName="content"
      apiKey="fwchc6cj4rtoiczv5xliaf7hvcuakqift147gd9hwtk1b9xz"
      [init]="{ plugins: 'link' }"
    ></editor>
    <mat-form-field appearance="fill" class="field">
      <mat-label>{{ t("pitches.form.deadLineDate") }}</mat-label>
      <input
        matInput
        [matDatepicker]="deadLineDatepicker"
        formControlName="deadLineDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="deadLineDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #deadLineDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field">
      <mat-label>{{ t("pitches.form.issueDate") }}</mat-label>
      <input
        matInput
        [matDatepicker]="issueDatePicker"
        formControlName="issueDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="issueDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #issueDatePicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
