<div id="form-area">
  <h1>{{getTitle()}}</h1>
  <form id="idea-form" [formGroup]="ideaFormGroup" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="idea-name" class="form-label">Name</label>
      <input class="form-control" id="idea-name" formControlName="name" />
    </div>
    <div class="mb-3">
      <label for="idea-description" class="form-label">Description</label>
      <input
        class="form-control"
        id="idea-description"
        formControlName="description"
      />
    </div>
  </form>
  <div id="button-area">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!ideaFormGroup.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancelClick()">
      Cancel
    </button>
  </div>
</div>
