<ng-container *transloco="let t">
  <app-navbar></app-navbar>

  <mat-drawer-container class="example-container">
    <mat-drawer class="menu" mode="side" opened>
      <mat-nav-list role="navigation">
        <a
          mat-list-item
          routerLink="/clients"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ t("clients.title") }}</a
        >
        <a
          mat-list-item
          routerLink="/ideas"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ t("ideas.title") }}</a
        >
        <a
          mat-list-item
          routerLink="/pitches"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ t("pitches.title") }}</a
        >
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="app-viewer">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
