<ng-container *transloco="let t; read: 'pitches.table'">
  <ng-container *ngIf="pitches?.length ?? 0 > 0; else nodata">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">{{ t("title") }}</th>
          <th scope="col">{{ t("idea") }}</th>
          <th scope="col">{{ t("client") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pitch of pitches" (click)="onRowClick(pitch)">
          <td>
            {{ pitch.title }}
          </td>
          <td>{{ pitch.idea?.name }}</td>
          <td>{{ pitch.client?.name }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #nodata>
    {{ t("no_pitches") }}
  </ng-template>
</ng-container>
